{% load staticfiles %}
<html>
    <head>
        <title>os stats.org</title>

        {# Load additional fonts #}
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        {# Then load our style sheets + whatever bootstrap needs #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/core.css' %}">
    </head>

    {# Body for all the content #}
    <body>
        <div class="page-header">
            <h1>OS Stats.org</h1>
            <a href="/">Home</a>
            <a href="/users/">Users</a>
            <a href="/rigs/">Machines</a>
            <a href="/stats/">Statistics</a>
            <a href="/join/">Join</a>
            <a href="/login/">Login</a>
        </div>

        {# Container with our page contents #}
        <div class="container">
            <br/>
            {% block content %}[...]{% endblock %}
        </div>

    </body>
</html>
