{% extends 'core/master.html' %}

{% block title %} Machine: {{ machine.name }} {% endblock %}

{% block content %}
    {% if machine %}
    <div>
        <ul>
        <li>CPU: {{ machine.cpu }}</li>
        <li>Memory: {{ machine.mem_amount }}GB ({{ machine.mem_type }}) </li>
        <li>Graphics Card: {{ machine.gpu }}</li>
        <li>Operating System: {{ machine.os }}</li>
        <li>Computer Type: {{ machine.type }}</li>
        </ul>

        <h3>This machine is owned by <a href="/user/{{ machine.owner.user.id }}/">{{ machine.owner.user }}</a></h3>
    </div>
    {% else %}
        <p>No such user found!</p>
    {% endif %}
{% endblock %}
