{% extends 'core/master.html' %}

{% block title %} Registered Users {% endblock %}

{% block content %}
    {% if users %}
     <ul>
    {% for u in users %}
        <li> <b>Nick:</b> <a href="/user/{{ u.id }}/">{{ u }}</a> <br>
            <b>Real Name:</b> {{ u.user.first_name }} {{ u.user.last_name }} <br>
            <b>Last Seen:</b> {% if u.user.last_login %} {{ u.user.last_login }} {% else %} Never {% endif %}</li>
            <br>

           {# {% if user.user.last_login %} {{ u.user.last_login }} {% else %} Never</li>  #}
    {% endfor %}
    </ul>
    {% else %}
        <p>No such user found!</p>
    {% endif %}
{% endblock %}
